html{

    box-sizing: border-box;

}
body{

    margin: 0;

}
div{

    margin: 1em;

}
button{

    margin: .5em 0;
    padding: .6em 1em;
    cursor: pointer;
    color: white;
    background: rgb(66, 65, 65);
    outline: none;
    border: none;
    width: 100%;

}
.toaster{

    position: absolute;
    left: 88%;
    top: 5%;
    background: rgba(0, 128, 0, 0.8);
    color: white;
    padding: .5em 1.5em;
    border-radius: 4px;

}
.btnDelete{

    margin: .2em 0;
    background: red;

}
.btnOpen{

    margin: .2em 0;
    background: green;

}
.btnCopyUrl{

    cursor: pointer;

}
button:hover{

    background: rgb(107, 106, 106);

}
input{

    padding: .5em;

}
input:focus{

    outline-color: rgb(66, 65, 65);

}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-container{

    width: 80%;

}
form > table{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.table-container{

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.table-container td{

    padding: .5em;
    text-align: center;

}
.table-container table{

    width: 100%;

}

.toaster {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}